#bookmarks_table
  %table.table.table-hover.table-condensed
    %thead
      %tr
        %th.site-name Site name
        %th Description
        %th.table-edit Action
      %tbody
        - @folders.where('name <> ?', 'no_folder').each do |folder|
          %tr{ id: "folder-#{folder.id}", class: "folder" }
            %td{ colspan: 3 }
              = image_tag('arrow-down.png', size: "10x10", class: "arrow-#{folder.id}")
              = folder.name
          - folder.bookmarks.each do |bookmark|
            %tr{ id: "foldered-bookmark-#{bookmark.id}", class: "foldered-bookmark folder-id-#{folder.id}" }
              %td= link_to truncate(bookmark.title, length: 20), bookmark.url, target: "_blank"
              %td= truncate(bookmark.description, length: 100)
              %td
                = link_to "Edit", edit_bookmark_path(bookmark), remote: true,
                  data: { toggle: "modal", target: "#edit-modal" }
                |
                = link_to "Delete", bookmark, remote: true, method: :delete,
                  data: { confirm: "Are you sure?" }

        - @bookmarks.where('folder_id = ?', @folders.where("name = ?", "no_folder").first.id).each do |bookmark|
          %tr{ id: "bookmark-#{bookmark.id}", class: "bookmark"}
            %td= link_to truncate(bookmark.title, length: 25), url_checker(bookmark.url), target: "_blank"
            %td= truncate(bookmark.description, length: 120)
            %td
              = link_to "Edit", edit_bookmark_path(bookmark), remote: true,
                data: { toggle: "modal", target: "#edit-modal" }
              |
              = link_to "Delete", bookmark, remote: true, method: :delete,
                data: { confirm: "Are you sure?" }
        %tr{ id: "no-folder-#{@folders.where('name = ?', 'no_folder')}", class: 'hidden no-folder' }
          %td{colspan: 3} Drop here to remove from folder
