%h1.text-center Your Bookmarks
= form_tag create_remote_bookmarks_path, remote: true,
  class: 'form-inline' do
  = label_tag 'bookmarks', 'Add new bookmark...'
  %br
  .input-append
    = url_field_tag 'link', nil, class: 'url_field', autofocus: true
    = tag(:input, type: 'submit', class: "btn btn-primary",
      value: "Add bookmarks...")
  %span.pull-right= link_to "Create a new bookmark manually", new_bookmark_path

#bookmarks_table
  = render 'bookmarks_table', bookmarks: @bookmarks
