%h1.text-center Your Bookmarks
= form_tag bookmarks_path, method: :post, remote: true,
  class: 'form-inline' do
  %br
  .input-append
    = url_field_tag 'link', nil, class: 'url_field', autofocus: true
    = tag(:input, type: 'submit', class: "btn btn-primary",
      value: "Add bookmark...")
.btn-group.pull-right
  .btn-group
    = link_to "Create new folder", new_folder_path, remote: true, class: "btn",
      data: { toggle: "modal", target: "#folder-create-form" }
    = button_tag class: "btn dropdown-toggle", data: { toggle: "dropdown" } do
      %span.caret
    %ul.dropdown-menu
      %li= link_to "List/edit folders", '#'
      %li= link_to "Delete folder", '#'
    = link_to "Add bookmark (manual)", new_bookmark_path, class: "btn"

= render 'bookmarks_table'

= render 'edit_modal'

= render 'folders/folder_form_modal'
