%h1.text-center Your Bookmarks
= form_for :link, remote: true, html: { class: "form-inline" } do |f|
  = f.label :link, "Add new bookmark..."
  %br
  .input-append
    = f.url_field :link, class: "url_field"
    = f.submit "Add bookmark", class: "btn btn-primary"
= link_to "Create new bookmark", new_bookmark_path
#bookmarks_table
  = render 'bookmarks_table', bookmarks: @bookmarks
