%h1.text-center Your Bookmarks
= form_tag create_remote_bookmarks_path, remote: true,
  class: 'form-inline' do
  %br
  .input-append
    = url_field_tag 'link', nil, class: 'url_field', autofocus: true
    = tag(:input, type: 'submit', class: "btn btn-primary",
      value: "Add bookmark...")
.btn-group.pull-right
  = link_to "Add new folder...", '#', class: 'btn'
  = link_to "Add bookmark (manual)", '#', class: "btn"

#bookmarks_table
  = render 'bookmarks_table', bookmarks: @bookmarks

= render 'edit_modal'
